In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
myArray = np.random.randint(0,101,(4,3))

In [3]:
myArray

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [4]:
myIndex = ["A","B","C","D"]

In [5]:
myColumns = ["Jan","Feb","Mar"]

In [8]:
df = pd.DataFrame(data=myArray, index=myIndex , columns=myColumns)
df

   Jan  Feb  Mar
A   95   11   81
B   70   63   87
C   75    9   77
D   40    4   63