In [1]:
import numpy as np
import pandas as pd

In [2]:
q1 = {"Japan":80,"China":450,"India":200,"USA":250}
q2 = {"Brazil":100,"China":500,"India":210,"USA":260}

In [3]:
sales_q1 = pd.Series(q1)
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [4]:
sales_q2 = pd.Series(q2)
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [5]:
sales_q2/100 #as pandas series is same as numpy array we can perform similar operations as numpy array.

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [6]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [7]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64